NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_LIVEKIT_URL=wss://rtc.talkroulette.ru
NEXT_PUBLIC_VK_APP_ID=
NEXT_PUBLIC_VK_REDIRECT_URL=
NEXT_PUBLIC_YANDEX_CLIENT_ID=
NEXT_PUBLIC_YANDEX_REDIRECT_URL=
